/* .container span{
    background-color: red;
    text-align: center;
} */
 /* h1 + p + p{
    background-color: green;
 } */
  /* h1 ~ p{
    background-color: antiquewhite;
  } */
   /* *{
    font-
size: 24px;
   }
   h1{
    font-size: 21;
    bac
   } */
/* p{
    color: aqua !important;
}
.op p {
    color: red      ;
} */
 h1{
    color: red;
    background-color: aqua;
 }